<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0 //EN"
   "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--开启二级缓存  注意配置顺序 settings在前面 -->
    <settings>
       <setting name="cacheEnabled" value="true"/>
    </settings>
	<!-- 使用自动扫描包来定义别名 -->
	<typeAliases>
		<package name="com.koi.pojo" />
	</typeAliases>
	<!-- 配置分页插件 -->
	 <plugins>
		<plugin interceptor="com.github.pagehelper.PageHelper">
			<!-- 设置数据库类型 Oracle,Mysql,MariaDB,SQLite,Hsqldb,PostgreSQL六种数据库 -->
			<property name="dialect" value="mysql" />
		</plugin>
	</plugins> 
</configuration>